<div fxLayout="row" fxLayoutAlign="center stretch" fxFlex='100' style="height: 100%; padding: 15px;">
    <div fxLayout="column" fxLayoutAlign="start stretch" style="width: 100%;padding: 10px;"class="card">

        <div fxLayout="row" fxLayoutAlign="start stretch"  style="margin-top: 1em;margin-left:1em">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="30" fxLayoutGap="gappx">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                    <div>
                        <img src="../../../assets/back.png" style="width: 20px; height:15px">
                    </div>
                    <div style="font-size: 22px;font-weight:500;color:#777583;">
                        Dashboard
                    </div>
                </div>
            </div>
        </div>

        <div>
            
        </div>
        </div>