<div fxLayout="row" fxLayoutAlign="center stretch" fxFlex='100' style="height: 100%; padding: 15px;">
    <div fxLayout="column" fxLayoutAlign="start stretch" style="width: 100%;padding: 10px;"class="card" fxLayoutGap="20px">

        <div fxLayout="row" fxLayoutAlign="start stretch" class="margin-top margin-left"  >
            <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="30" fxLayoutGap="gappx">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                    <div>
                        <img src="../../../assets/back.png" style="width: 20px; height:15px">
                    </div>
                    <div style="font-size: 22px;font-weight:500;color:#777583;">
                        Dashboard
                    </div>
                </div>
            </div>
        </div>

        <div class="margin-left"  fxLayout="row" fxLayoutAlign="start stretch" fxFlex = 100>
            <div style="border: 1px solid lightgrey" fxLayout="row" fxLayoutAlign="start stretch">
              <div style=" border: 1px solid black;">
                <button style="width: 100%;"  mat-button [ngClass]="{'gray': status === 'Daily' , 'white' : true}" (click)="onClick('Daily')">Daily</button>
              </div>

              <div style=" border: 1px solid black;">
                <button style="width: 100%;" mat-button [ngClass]="{'gray': status === 'Weekly' , 'white' : true}" (click)="onClick('Weekly')">Weekly</button>
              </div>

              <div style="border: 1px solid black;" >
                <button style="width: 100%;" mat-button [ngClass]="{'gray': status === 'Monthly' , 'white' : true}" (click)="onClick('Monthly')">Monthly</button>
              </div>

            </div>
        </div>
        <div class="margin-left" fxLayout="row" fxLayoutAlign="start stretch" style="background-color:#F9F9F9;padding: 10px;">
            <div class="chart-wrapper" style="width:80%" >
                <canvas baseChart
                [datasets]="barChartData"
                [labels]="ChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [type] = "barChartType"
                >
              </canvas>
            </div>
        </div>
        </div>
