/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mm .mat-form-field-wrapper{
    padding-bottom: unset !important;
}
.mn .mat-form-field-appearance-outline .mat-form-field-infix{
    padding: unset !important;
    padding-bottom: 4px !important;
}